.sc-angular-upload .icon-upload-alt {
    margin-bottom: 5px;
}
.sc-angular-upload .drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}
.sc-angular-upload .drop.drag-over {
    background: #5CB85C;
    color: #fff
}
.sc-angular-upload .transfer-box {
    margin-bottom: 5px;
}
.sc-angular-upload .transfer-box .progress {
    margin-bottom: 0;
}


.sc-angular-upload .gallery-box {
    padding-right: 5px;
    float: left;
    overflow: hidden;

}
.sc-angular-upload .gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 100px;
    width: 100px;
}
.sc-angular-upload .gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}
.sc-angular-upload.btn-delete {
    position: absolute;
    left: 100%;
    margin-left: -10px;
    margin-top: 2px;
    cursor: pointer;
}


.lightbox .icon-trash{
    padding-right: 13px;
    padding-top:  5px;

}
.lightbox img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.bootstrap div[modal-in-class='in'] .modal-dialog {
    width: auto;
    max-width: 100%;
    margin: 0;
    height: 100%;
}
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .modal-header {
    border-bottom: none;
    height: 55px;
    background: black;
    position: relative;
    z-index: 1;
}
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .modal-body {
    padding: 0;
}
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox .modal-body {
    padding-top: 55px;
    margin-top: -55px;
}
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox .modal-body .carousel {
    background-color: rgba(0, 0, 0, 0.6);
}
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox .modal-body .carousel .carousel-inner {
    max-width: 70%;
    margin: 0 auto;
}
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content,
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox,
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox .modal-body,
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox .modal-body .carousel,
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox .modal-body .carousel .carousel-inner,
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox .modal-body .carousel .carousel-inner > div,
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox .modal-body .carousel .carousel-inner > div > img {
    height: inherit;
}
.bootstrap div[modal-in-class='in'] .modal-dialog .modal-content .lightbox .modal-body .carousel .carousel-inner > div > img {
    width: auto;
    max-width: 10%;
    max-height: 10%;
    transform: scale(10);
    position: relative;
    top: 45%;
    padding: 15px 0;
}
